@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Varela Round", sans-serif;
}

/* Header */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  padding: 20px 150px;
  background-color: white;
}

/* LoginHeader */
.Header button {
  font-size: 20px;
  border: none;
  background-color: white;
}

.Header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 30px;
  margin-right: 50px;
  border-radius: 30px;
  background-color: #424242;
  cursor: pointer;
}

.Header .title h1 {
  font-size: 19px;
  color: white;
}

.Header ul {
  display: flex;
}

.Header ul li {
  font-size: 20px;
  margin-right: 60px;
  list-style: none;
  cursor: pointer;
}

/* Banner */
.Banner {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 770px;
  position: relative;
  overflow: hidden;
  background-color: #e1f5fe;
}

.Banner div:first-child {
  height: 70%;
  padding: 160px 0 0 120px;
  background-color: #e3f2fd;
}

.Banner div:first-child h1 {
  font-size: 37px;
  margin-bottom: 40px;
}

.Banner div:first-child p {
  font-size: 20px;
}

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}
@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

.snowflake:nth-child(1) {
  --size: 0.6vw;
  --left-ini: 2vw;
  --left-end: 10vw;
  left: 17vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -9s;
}
.snowflake:nth-child(2) {
  --size: 0.8vw;
  --left-ini: -5vw;
  --left-end: -7vw;
  left: 48vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -1s;
}
.snowflake:nth-child(3) {
  --size: 0.2vw;
  --left-ini: -1vw;
  --left-end: -9vw;
  left: 57vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -9s;
}
.snowflake:nth-child(4) {
  --size: 0.2vw;
  --left-ini: 9vw;
  --left-end: -1vw;
  left: 39vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -3s;
}
.snowflake:nth-child(5) {
  --size: 0.8vw;
  --left-ini: 3vw;
  --left-end: -6vw;
  left: 60vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -1s;
}
.snowflake:nth-child(6) {
  --size: 1vw;
  --left-ini: -1vw;
  --left-end: -4vw;
  left: 12vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -8s;
}
.snowflake:nth-child(7) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: -7vw;
  left: 33vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -2s;
}
.snowflake:nth-child(8) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: -4vw;
  left: 78vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -5s;
}
.snowflake:nth-child(9) {
  --size: 0.6vw;
  --left-ini: -3vw;
  --left-end: 1vw;
  left: 53vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -7s;
}
.snowflake:nth-child(10) {
  --size: 0.4vw;
  --left-ini: 6vw;
  --left-end: -1vw;
  left: 62vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -8s;
}

/* title */
.search-head {
  font-size: 31px;
  padding: 50px 0;
  text-align: center;
}

/* Home */

.Home .book-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.input-box {
  text-align: center;
}

.Home input {
  width: 70%;
  height: 70px;
  padding: 30px 40px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.Home .search-title {
  margin: 50px auto;
}

/* BookItem */
.book-detail {
  text-align: center;
  width: 150px;
  margin-bottom: 30px;
}

.book-detail div h1 {
  font-size: 15px;
  margin: 5px 0;
}

.book-detail div h2 {
  font-size: 13px;
  margin-bottom: 5px;
  color: gray;
}

.book-detail div > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.book-detail div > div h3 {
  font-size: 13px;
  margin-right: 15px;
  color: gray;
}

.book-detail div > div button {
  font-size: 13px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.book-detail div > div button:hover {
  color: white;
  background-color: #424242;
}

/* Novel List */
.Novel-List {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.Novel-List div h1 {
  font-size: 37px;
  font-weight: 900;
  margin-bottom: 40px;
}

.Novel-List div p {
  font-size: 22px;
  margin-bottom: 60px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 7));
  }
}
.slider {
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 300px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slider-track {
  animation: scroll 40s linear infinite;
  animation-fill-mode: forwards;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

.slider .slide img {
  width: 150px;
  height: 200px;
}

/* Basket */

.cart-empty {
  font-size: 23px;
  font-weight: 700;
  padding: 30px 0;
  text-align: center;
}

.Basket .order-box {
  margin: 70px 150px;
}

.order-box .order-title {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.order-box .order-title h1 {
  font-size: 24px;
}

.Basket .checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid black;
}

.Basket .checkbox div input {
  margin-right: 10px;
  cursor: pointer;
}

.Basket .checkbox button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.Basket .total-price {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.Basket .total-price strong {
  font-size: 19px;
  color: #2d884a;
}

.order-submit {
  text-align: center;
}

.order-submit button {
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 3px;
  background-color: #2d884a;
  color: white;
  cursor: pointer;
}

/* Basket CartList */
.CartList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
  border-bottom: 1px solid #ccc;
}
.CartList input {
  margin-right: 40px;
  cursor: pointer;
}

.CartList img {
  width: 80px;
  margin-right: 50px;
}

.CartList .title_author {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.CartList .title_author h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.CartList .title_author p {
  font-size: 14px;
}

.CartList .inc-dec {
  border: 1px solid #ccc;
}

.CartList .inc-dec span {
  font-size: 14px;
}

.CartList .inc-dec button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.CartList .delete-price {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CartList .delete-price strong {
  margin-right: 10px;
}

.CartList .delete-price button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: white;
}

/* Login */
.Login {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(/public/img/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Login .login-img {
  width: 70%;
  padding: 130px 150px;
}

.Login .login-img h2 {
  font-size: 54px;
  margin-bottom: 50px;
  color: white;
}

.Login .login-img h1 {
  font-size: 66px;
  color: white;
}

.Login .login-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 80px 50px;
  opacity: 0.6;
  background-color: black;
}

.Login .login-form h1 {
  letter-spacing: 0.2em;
  margin-bottom: 90px;
  color: white;
}

.Login .login-form label {
  font-size: 22px;
  margin-bottom: 20px;
  color: white;
}

.Login .login-form input {
  font-size: 18px;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px;
  margin-bottom: 30px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.Login .login-form button {
  font-size: 20px;
  height: 40px;
  margin-top: 50px;
  cursor: pointer;
}

.Login .login-form button:disabled {
  cursor: not-allowed;
  background-color: rgba(188, 188, 188, 0.3);
}

/* Footer */

.Footer {
  width: 100%;
  padding: 50px 120px;
  border-top: 1px solid #ccc;
}

.Footer h1 {
  font-size: 26px;
}

.Footer ul {
  display: flex;
  margin: 40px 0;
}

.Footer ul li {
  list-style: none;
  margin-right: 20px;
}

.Footer p {
  color: #ccc;
}
